body {
  background-color: beige;
}

img {
  float: right;
}

li {
  padding-top: 10px;
  font-size: 22px;
  font-family: oblique;
}

#film-info-cell {
  height: 500px;
}

#map-cell {
  height: 375px;
  width: 50%;
  float: left; 
}

#graph-cell {
  width: 50%;
  height: 375px;
  float: left; 
}

button {
  margin-top: 35px;
  height: 75px;
  width: 225px;

}